// bower:scss
// endbower


body {
  padding: 0;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-card {
  background-color: #ffe87c;
}

.teamlogo_thumb {
  width: 48px;
  height: 48px;
}

.teamlogo {
  align: right;
}
