<?php
/**
 * VERSIONS AND PATHS
 */

	//The path to robocode
	define('ROBOCODE_PATH', '/Users/ruud/robocode/');

	//The robocode version, that team needs to configure, use UNDEFINED for all version
	define('ROBOCODE_VERSION', '1.9.2.5');

	//The templates folder
	define('TEMPLATE_FOLDER', 'templates');

/**
 * DATABASE SETTINGS
 */
    define('CONFIG_DB_HOSTNAME', '127.0.0.1');
    define('CONFIG_DB_DATABASE', 'useb');
    define('CONFIG_DB_USERNAME', 'root');
    define('CONFIG_DB_PASSWORD', '');

/**
 * DATE AND TIME SETTINGS
 */
    define('TIMEZONE', 'GMT+1');

/**
 * COMPETITION AND TEAM SETTINGS
 */
	//The current competition
	define('COMPETITION_ID', '1');

	//Use a regular expression with named tags for pool_id and team_id. When you don't want to
	//use pools, remove the pool_id tag.
	define('TEAM_REGEXP', '/.+(?P<pool_id>[E|D])HI1VS(?P<team_id>\w+_\d+)_.+\.jar$/');

	//The number of bots in a team
	define('TEAM_NUMBER_OF_BOTS', 4);
?>